body {
  background-image: url('imagenes/fondo/fondo-de-pantalla.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 4000px;
}
